<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
  <p class="copyright text-muted small">Content of this site is part of <a rel="license" href="http://creativecommons.org/publicdomain/zero/1.0/"><img src="http://i.creativecommons.org/p/zero/1.0/88x31.png" style="border-style: none;" alt="CC0" /></a></p>
<br /><a href="http://www.quick-counter.net/" title="HTML hit counter - Quick-counter.net"><img src="http://www.quick-counter.net/aip.php?tp=di&amp;tz=Europe%2FParis" alt="HTML hit counter - Quick-counter.net" border="0" /></a>
            </div>
            <div class="col-md-4">
		Built with <a href="http://gohugo.io">Hugo</a> and the
		<a href="https://github.com/swiftline/github-project-landing-page">Github project Page</a>
		theme.
            </div>
        </div>
    </div>
</footer>
{{ partial "js.html" . }}
</body>
</html>
