<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                {{ if .Site.Params.project_url }}
                <li>
                    <a class="page-scroll" href={{ .Site.Params.project_url }}>Github</a>
                </li>
                {{ end }}
                {{ if .Site.Params.project_documentation }}
                <li>
                    <a class="page-scroll" href={{ .Site.Params.project_documentation }}>Docs</a>
                </li>
                {{ end }}
                {{ if .Site.Params.author_url }}
                <li>
                    <a class="page-scroll" href={{ .Site.Params.author_url }}>NSOmar</a>
                </li>
                {{ end }}
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
