{{ partial "head.html" . }}
{{ partial "nav.html" . }}

<section id="services">
   <div class="content-section-a">

      <div class="container">

        <div class="row">
          <div>
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h3 class="section-heading">{{ .Title }}</h3>
            {{ .Content }}
        </div>
    </div>

</div>
</div>

</section>
{{ partial "footer.html" . }}
